body {
    margin: 0%;
    padding: 0%;
    /* background-color: rgb(148, 164, 165); */
}

.container {
    text-align: center;
    width: 100%;
}

.h1BMI {
    color: rgb(25, 86, 110);
}

.calcInput {
    margin: 1% 0%;
    border: 2px rgb(25, 86, 110) solid;
    border-radius: 5px;
}